---
---

<footer>
  <div>
    <a href="/">
      <img src="/images/logo-footer.svg" alt="Jobsolv" />
    </a>
    <address>
      <div>
        <strong>Address:</strong>
        <p>Jobsolv LLC 6001 W Parmer Lane Ste 370 #771 Austin, TX 78727</p>
      </div>
      <div>
        <strong>Contact:</strong>
        <a href="mailto:hello@jobsolv.com">hello@jobsolv.com</a>
      </div>
    </address>
  </div>
  <nav>
    <div>
      <h3>Features</h3>
      <ul>
        <li><a href="/features/resume-builder">Resume Builder</a></li>
        <li><a href="/features/resume-tailoring">Resume Tailoring</a></li>
        <li><a href="/features/job-tracker">Job Tracker</a></li>
      </ul>
    </div>
    <div>
      <h3>Services</h3>
      <ul>
        <li><a href="/services/six-figure-resume">Six Figure Resume</a></li>
        <li><a href="/services/signature-service">Signature Service</a></li>
        <li><a href="/services/signature-faq">Signature FAQ</a></li>
      </ul>
    </div>
    <div>
      <h3>Quick Links</h3>
      <ul>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/use-cases">Use Cases</a></li>
        <li><a href="/success-stories">Success Stories</a></li>
      </ul>
    </div>
    <div>
      <h3>Follow Us</h3>
      <ul>
        <li><a href="https://www.facebook.com/jobsolv" target="_blank" rel="noopener noreferrer">Facebook</a></li>
        <li><a href="#" target="_blank" rel="noopener noreferrer">X</a></li>
        <li><a href="https://www.linkedin.com/company/jobsolv" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
      </ul>
    </div>
  </nav>
  <div>
    <p>© 2024 Jobsolv. All rights reserved.</p>
    <ul>
      <li><a href="#" class="termly-display-preferences">Consent Preferences</a></li>
      <li><a href="/policy/cookie-policy">Cookie Policy</a></li>
      <li><a href="/policy/privacy-policy">Privacy Policy</a></li>
      <li><a href="/policy/terms-and-conditions">Terms of Service</a></li>
    </ul>
  </div>
</footer>
