---
---

<nav>
  <a href="/" aria-label="home">
    <img src="/images/jobsolv-logo.svg" alt="Jobsolv Logo" />
  </a>
  <ul>
    <li>
      <a href="/features">Features</a>
      <ul>
        <li><a href="/features/resume-builder">Resume Builder</a></li>
        <li><a href="/features/resume-tailoring">Resume Tailoring</a></li>
        <li><a href="/features/job-tracker">Job Tracker</a></li>
      </ul>
    </li>
    <li>
      <a href="/services">Services</a>
      <ul>
        <li><a href="/services/six-figure-resume">Six Figure Resume</a></li>
        <li><a href="/services/signature-service">Signature Service</a></li>
        <li><a href="/services/signature-faq">Signature FAQ</a></li>
      </ul>
    </li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/faq">FAQ</a></li>
  </ul>
  <a href="https://app.jobsolv.com/auth/signin">Login</a>
  <a href="https://app.jobsolv.com/">Get Started for Free</a>
</nav>
